*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'PT Serif', serif;
}
a{
    color: #333;
}
a:hover{
    text-decoration: underline;
}
body{
    background-color: #F6F6F6 ;
    background-image: url(./img/bg-body.png) repeat;
}
.container{
    width: 1000px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px rgb(175, 175, 175);
}
.nav-header ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 27px;
    list-style: none;
    height: 35px;
    background: url("./img/bg-color.png");
    border-bottom: 1px solid rgb(192, 190, 190);
    padding-left: 30px;
}
.nav-header ul li a{
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
}
.header-info{
    display: flex;
    justify-content: start;
}
.header-info p{
    font-size: 13px;
    width: 290px;
}
.header img{
    margin-left: 35px;
}
.president-picture{
    margin-right: 15px;
}
.marqueu{
    background-color: rgb(202, 202, 202);
    max-width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marqueu div{
    width: 80%;

}
.marqueu div a{
    margin-right: 200px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
.header-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-image: url(./img/bg-navigation.jpg);
    height: 50px;

}
.header-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    border-left: 1px solid #000;
    padding:  13px 10px 8px 10px ;
    
}
.header-menu ul li a:last-child{
    border-right: 1px solid #000;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.showImg img{
    padding: 10px;
    width: 516px;
}

.img-slider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    background: url(./img/bg-slider.png) repeat;
}
.slider-images{
    display: grid;
    grid-template-columns: 1rf;
}

.slider-images img{
    width: 70px;
    height: 60px;
}
.sidebar{
    margin-left: 20px;
    width: 300px;
}

.topnav a{
    font-size: 12px;
    border-bottom: 1px dashed #999;
    color: #333;
    line-height: 3;
    display: block;
}

.new-posts{
    margin-top: 35px;
}
.new-posts-title{
    font-size: 24px;
    color: #888;
    text-shadow: 1px 1px 1px #fff;
    padding: 8px 0 0 10px;
    margin-bottom: 25px;
}
.last-posts{
    height: 83px;
    padding: 10px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 4fr;
    border-bottom: 1px dashed #888;
    overflow: hidden;

}
.posts-img{
    width: 50px;
    height: 50px;
    grid-row: 1/4;
}
.posts-title{
    font-size: 12px;
    line-height: 18px;
    color: #333;
    font-family: 'Roboto Slab', serif;
}
.posts-date{
    font-size: 10px;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-content-items-title{
    font-size: 26px;
    height: 51px;
    width: 315px;
    background-color: rgb(219, 219, 219);
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 40px;
}
.main-content-items-title a{
    color: #333;
    font-weight: lighter;

}
.president-news{
    margin-right: 20px;
}
.post-big{
    margin-top: 20px;
    margin-bottom: 30px;
}
.post-big-img{
    padding: 2px;
    border: 1px solid #c0c0c0;
    width: 300px;
    height: 165px;
}
.post-big-text{
    color:#333;
    font-size: 20px;
}
.post-big-date{
    color: rgb(146, 146, 146);
    font-size: 12px;
}
.posts-small{
    padding: 10px 0 10px 0;
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    border-bottom: 1px dashed #888;
    overflow: hidden;
}
.bottom-side{
    margin-top: 100px;
    font-size: 24px;
    color: #888;
}
.search-input{
    width: 300px;
    height: 40px;
    padding-left: 20px;
    margin: 30px 0 60px 0;
}
.arcive-block p{
    margin-bottom: 30px;
}
.facebook{
    margin-top: 60px;
}
.facebook p{
    margin-bottom: 30px;
}