*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #F6F6F6 ;
    background-image: url(./img/bg-body.png) repeat;
}
.container{
    width: 1000px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px rgb(175, 175, 175);
}
.nav-header ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 27px;
    list-style: none;
    height: 35px;
    background: url("./img/bg-color.png");
    border-bottom: 1px solid rgb(192, 190, 190);
}
.nav-header ul li a{
    text-decoration: none;
    font-family: Palatino Linotype;
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
}
.header-info{
    display: flex;
    justify-content: start;
}
.header-info p{
    font-size: 13px;
    font-family: Palatino Linotype;
    width: 290px;
}
.header img{
    margin-left: 35px;
}
.president-picture{
    margin-right: 15px;
}
.marqueu{
    background-color: rgb(202, 202, 202);
    max-width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marqueu div{
    width: 80%;

}
.marqueu div a{
    padding-right: 500px;
    text-decoration: none;
    color: #333;
}
.header-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-image: url(./img/bg-navigation.jpg);
    height: 50px;

}
.header-menu ul li a{
    text-decoration: none;
    font-family: Palatino Linotype;
    font-size: 18px;
    color: #fff;
    border-left: 1px solid #000;
    padding:  13px 10px 8px 10px ;
    
}
.header-menu ul li a:last-child{
    border-right: 1px solid #000;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.showImg img{
    padding: 10px;
    width: 516px;
}

.img-slider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    background: url(./img/bg-slider.png) repeat;
}
.slider-images{
    display: grid;
    grid-template-columns: 1rf;
}




.slider-images img{
    width: 70px;
    height: 60px;
}
.sidebar{
    margin-left: 20px;
    width: 300px;
}

.topnav a{
    font-family: Palatino Linotype;
    font-size: 12px;
    border-bottom: 1px dotted #999;
    color: #333;
    line-height: 3;
    display: block;
}